.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  &-logo {
    width: 13.1rem;
    &:hover {
      animation: swing 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
}