.flat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__container {
    max-width: 66%;
    &__title {
      font-size: 2.25rem;
      font-weight: 500;
      line-height: 3.2rem;
    }
    &__location {
      font-size: 1.15rem;
      font-weight: 500;
      padding-top: 0.5rem;
    }
  }
}

.host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  &__container {
    display: flex;
    align-items: center;
    &__name {
      padding: 1rem;
      text-align: right;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.6rem;
    }
    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}



