.flat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include respond-to(small-screen) {
    flex-direction: column;
  }
  &__container {
    max-width: 66%;
    @include respond-to(small-screen) {
      max-width: 100%;
    }
    &__title {
      font-size: 2.25rem;
      font-weight: 500;
      line-height: 3.2rem;
      @include respond-to(small-screen) {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    
    }
    &__location {
      font-size: 1.15rem;
      font-weight: 500;
      padding-top: 0.5rem;
      @include respond-to(small-screen) {
        font-size: 1rem;
        line-height: 1.6rem;
      }
    }
  }
}
.host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  @include respond-to(small-screen) {
    flex-direction: row-reverse;
    align-items: center;
    line-height: 1.6rem;
    padding-bottom: .8rem;
  }
  &__container {
    display: flex;
    align-items: center;
    &__name {
      padding: 1rem;
      text-align: right;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.6rem;
      @include respond-to(small-screen) {
        font-size: 1rem;
        line-height: 1.4rem;
        padding: 0 .9rem 0 0;
      }
    }
    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;
      @include respond-to(small-screen) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}



