.rating {
  padding: 1.5rem 0;
  text-align: right;
  display: flex;
  @include respond-to(small-screen) {
    padding: 1rem 0;
  }

  &__item {
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 0.8rem;
    margin-bottom: .5rem;
    @include respond-to(small-screen) {
      width: 1rem;
      height: 1rem;
      margin-bottom: 0rem;
      margin-left: 0.3rem;

      }
  
  }
}