.section1 {
  width: 100%;
  height: 14rem;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    &::after {
      @include bkg($background-darken);
    }
    & > img {
      height: 100%;
    }
  }
  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    position: absolute;
    margin: auto;
  }
}

