.section1 {
  width: auto;
  height: 13.9rem;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to(small-screen) {
    height: 7rem;
    border-radius: 0.65rem;
    margin: 1.4rem 0;
  }
  &__img {
    &::after {
      @include bkg($background-darken);
    }
    & > img {
      height: 100%;
      width: auto;
    }
  }
  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    position: absolute;
    margin: auto;
    padding: 3rem;
    @include respond-to(small-screen) {
      font-size: 1.5rem;
      text-align: left;
      padding: 1rem;
    }
  }
}

