/* media queries */ 

@mixin respond-to($media) {
  @if $media == verysmall-screen {
    @media all and (max-width: $verysmall-screen) {
      @content;
    }
  }

  @if $media == small-screen {
    @media all and (max-width: $small-screen) {
      @content;
    }
  }
  @if $media == large-screen {
    @media all and (max-width: $large-screen) {
      @content;
    }
  }
  @if $media == xl-screen {
    @media all and (max-width: $xl-screen) {
      @content;
    }
  }
}

/* mixins */

@mixin bkg($background) {
  content: '';
  width: 100%;
  height: 100%;
  background: $background;
  position: absolute;
  left: 0;
  top: 0;
}