/* Fonts */

$font-size-default: 16px;
$font-family: 'Montserrat', 'Trebuchet MS', Arial, Helvetica, sans-serif;
 
/* colors */

$color-title: #FF6060;
$color-bg: #e5e5e5;
$color-bg2: #e3e3e3;
$color-bg3: #F7F7F7;
$color-bg4: #c4c4c4;

/* breakpoints */
$verysmall-screen: 420px;
$small-screen: 800px;
$large-screen: 1025px; 
$xl-screen: 1145px; 

$background-gradient: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 50%);
$background-darken: rgba(0, 0, 0, 0.3);