.about {
  &__dropdowns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
      width: 82.5%;
      @include respond-to(small-screen) {
        width: 100%;
      }
    }
  }
}
